{% extends 'base.html' %}
{% load static %}

{% block css_files %}
 <link rel="stylesheet" href="{% static 'aplikacija/kontakt.css' %}">
{% endblock css_files %}

{% block content %}
<div class="kontakt-page-container">
    
    <div class="kontakt-header">
        <h1>Kontakt</h1>
        <p>Stupite u kontakt s nama</p>
    </div>

    <div class="kontakt-content">
        
        <div class="kontakt-info">
            <h3>Kontakt podaci</h3>
            
            <div class="info-item">
                <span class="info-icon">📍</span>
                <div>
                    <h4>Adresa</h4>
                    <p>Zgona bb, 80101 Livno</p>
                </div>
            </div>

            <div class="info-item">
                <span class="info-icon">📞</span>
                <div>
                    <h4>Telefon</h4>
                    <p>+387 34 201 411</p>
                </div>
            </div>

            <div class="info-item">
                <span class="info-icon">✉</span>
                <div>
                    <h4>E-pošta</h4>
                    <p>nk.troglav1918@gmail.com</p>
                </div>
            </div>

            <div class="info-item">
                <span class="info-icon">🕒</span>
                <div>
                    <h4>Radno vrijeme</h4>
                    <p>Ponedjeljak - Petak: 09:00 - 17:00</p>
                    <p>Subota: 09:00 - 13:00</p>
                    <p>Nedjelja: Zatvoreno</p>
                </div>
            </div>
            
            <h3 class="map-title">Kako do nas</h3>
            <div class="map-container">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d699.2008135430247!2d17.003884203924525!3d43.81942395810943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x475f8cf1c5bd8123%3A0x5675c5da0e126a51!2sStadion%20Zgona!5e0!3m2!1shr!2sba!4v1779433665151!5m2!1shr!2sba" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" width="100%" height="320" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
            </div>
        </div>

        <div class="kontakt-forma-container">
            <h3>Pošaljite upit</h3>
            
            <form method="POST" action="">
                {% csrf_token %}
                
                {% for field in form %}
                    <div class="form-group">
                        <label for="{{ field.id_for_label }}">
                            {{ field.label }}
                            {% if field.field.required %}
                                <span class="required">*</span>
                            {% endif %}
                        </label>
                        {{ field }}
                    </div>
                {% endfor %}

                <button type="submit" class="btn-kontakt-submit">Pošalji poruku</button>
            </form>
        </div>

    </div>
</div>
{% endblock %}