{% extends 'base.html' %}
{% load static %}

{% block css_files %}
 <link rel="stylesheet" href="{% static 'aplikacija/clanstvo.css' %}">
{% endblock css_files %}

{% block content %}
<section class="membership-section">
    <div class="form-container animate-pop-in" style="text-align: center; padding: 60px 0;">
        
        <div class="success-checkmark">✓</div>
        
        <h2>Prijava uspješno poslana!</h2>
        <p class="subtitle" style="margin-bottom: 30px;">Hvala vam. Kontaktirat ćemo vas u najkraćem mogućem roku.</p>
        <a href="{% url 'clanstvo' %}" class="btn-contact">Natrag na formu</a>
    </div>
</section>
{% endblock %}