{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}{% endblock title %}</title>
  <link rel="stylesheet" href="{%static "base.css"%}">
  {% block css_files %}{% endblock css_files %}
</head>
<body>
 
<nav class="navbar">
    <div class="nav-container">
        <a href="/" class="nav-logo">
            <img src="{% static 'aplikacija/slike/troglav-logo.png' %}" alt="NK Troglav Logo">
            <span class="logo-text">NK TROGLAV</span> </a>
        
        <ul class="nav-links">
            <li><a href="#">Početna</a></li>
            <li><a href="#">Klub</a></li>
            <li><a href="#">Utakmice</a></li>
            <li><a href="#">Kontakt</a></li>
        </ul>
    </div>
</nav>

<div class="video-hero">
    <video autoplay muted loop playsinline class="bg-video" id="bgVideo">
        <source src="{% static 'aplikacija/video/troglavdron.mp4' %}" type="video/mp4">
    </video>
    <div class="video-overlay"></div>
</div>
 {% block content %}
  {% endblock content %}

</body>

</html>